include LICENSE
include gulpfile.js
include package.json
include README.md
recursive-include assignment_desk/static *
recursive-include assignment_desk/templates *
recursive-include assignment_desk/staticapp/gulp *
recursive-include assignment_desk/staticapp/js *
recursive-include assignment_desk/staticapp/scss *
