[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap3 = ">=9.0.0"
django-colorfield = "*"

[dev-packages]
twine = "*"

[requires]
python_version = "3.6"
